html,body{
  overflow-x: hidden;
}
.container h1{
  margin-top: 5px;
}
.navbar-dark .navbar-toggler {
  float:right;/*doesn't work*/
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 101%;
  height: 50px;
  }
#profile{
  object-fit: contain;
  border: 1px solid #dee2e6;
}