{% extends "Base.html" %}
{% block content %}
	<div class="container">
   		<div class="row justify-content-center">
        	<div class="col-md-6">
        		<h1>Password Reset Complete</h1>
        		<div class="col-11 alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                	Password has been reset successfully!!!
            	</div>
            	<a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
        	</div>
        </div>
    </div>
{% endblock %}