{% extends "Base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<form method="POST">
		{% csrf_token %}
		<div class="container">
       		<div class="row justify-content-center">
            	<div class="col-md-6">
            		<h1>Registration Form</h1>
					<div class="form-group">
						{{ form|crispy }}
					</div>
					<div class="form-actions">
	            		<button type="submit" class="btn btn-primary">Submit</button>
						<a href="{% url 'login' %}" class="btn btn-info">Already have an account?</a>
					</div>
            	</div>
            </div>
        </div>
	</form>
<script type="text/javascript">
     let field_values=["{{ form.email.value }}","{{ form.username.value }}", "{{ form.password1.value }}", "{{ form.password2.value }}"];
     let field_names=[ "id_{{ form.email.name }}","id_{{ form.username.name }}", "id_{{ form.password1.name }}", "id_{{ form.password2.name }}"]
     for(let i=0;i<field_names.length;i++)
     {    if(field_values[i]!=="" && field_values[i]!==null && field_names[i]!=="id_" && field_names[i]!==null && field_values[i]!="None")
               document.getElementById(field_names[i]).value=field_values[i];
     }
     let tag=document.getElementsByTagName('small');
     for(let i=0;i<tag.length;i++)
     {   tag[i].classList.add("d-none");
 		 let text="hint_"+field_names[i+2];
 		 let list=document.getElementById(field_names[i+2]);
 		 let stripedHtml = tag[i].innerHTML.replace(/<[^>]+>/g, '\n');//$("<ul>").html(tag[i].innerHTML).text();
 		 list.title=stripedHtml;
 	}
</script>
{% endblock %}