{% extends "Base.html" %}
{% block content %}
	<h1 class="mb-5">Hello There!</h1>
	<div class="container">
		{% for p in posts %}
		<div class="card mb-5">
			<div class="card-body">
				<h5 class="card-title">{{p.title}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{p.subtitle}}</h6>
				<div class="row justify-content-start ml-1">
					<img id="profile" class="rounded rounded-circle" height="70px" width="70px" src="{{ p.author.profile.image.url }}">
					<h6 class="col-8 card-subtitle mb-2 text-muted align-self-end">Author: {{ p.author.username }}</h6>
				</div>
				<p class="card-text">{{p.content}}</p>
				<h6 class="card-subtitle mb-2 text-muted">{{p.date_posted | date:"d F, Y"}}</h6>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
		{% endfor %}
		<div class="card mb-5">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
	</div>
{% endblock %}